<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YourDestinyWeb</title>
</head>
<body>

<h2>Получение токена разработчика</h2>

<form id="loginForm">
    <label for="email">Почта:</label>
    <input type="text" id="email" name="email" required><br>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br>

    <label for="role">Роль(указать ROLE_ADMIN):</label>
    <input type="text" id="role" name="role" required><br>

    <button type="submit">Получить токен</button>
</form>

<!-- New element to display the token -->
<div id="tokenDisplay"></div>

<script>
    document.getElementById("loginForm").addEventListener("submit", function (event) {
        event.preventDefault();

        var email = document.getElementById("email").value;
        var password = document.getElementById("password").value;
        var role = document.getElementById("role").value;
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "http://localhost:8080/api/auth/signup", true);
        xhr.setRequestHeader("Content-Type", "application/json");

        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    var response = JSON.parse(xhr.responseText);
                    var token = response.token;

                    // Display the token under the button
                    document.getElementById("tokenDisplay").innerText = "ВНИМАНИЕ! СОХРАНИТЕ ТОКЕН! " + token;
                } else {
                    alert("An error occurred during the login request.");
                }
            }
        };

        var data = JSON.stringify({email: email, password: password, role: role});
        xhr.send(data);
    });
</script>

</body>
</html>